@{
    ViewData["Title"] = "Home Page";
}


<div class="ui container">
    <div class="ui segment raised">
        <h1 class="ui header">Implement custom tickets store</h1>
        <p>Efficiently manage sessions with your own implementation of a ticket store in .NET</p>
        <a role="button" asp-action="login" asp-controller="account" class="ui primary button">Sign In</a>
    </div>
</div>